:root {
    --DarkModePrimary:#121212;
    --DarkModeSecondary:#282828;
    --DarkModeTertiary:#3f3f3f;
    --DarkModeFont:white;
    --DarkModeHighLight:#b99eed;

    --LightModePrimary:white;
    --lightModeSecondary:#e4e5f1;
    --lightModeTertiary:#dadada;
    --LightModeFont:black;
    --lightModeHighLight:#3598fc;
}
html{
    min-height:100%;
}

body{
    background-color: black;
    min-height:100%;
    margin: 0;
    min-width: 1000px;
    overflow: scroll;
    overflow-x: hidden;

}

.DarkMode hr{
    border: 1px solid var(--DarkModeHighLight);
}

.LightMode hr{
    border: 1px solid var(--lightModeHighLight)
}

body.LightMode{
    background-color: var(--LightModePrimary);
    color: var(--lightModeFont)
}

body.DarkMode{
    background-color: var(--DarkModePrimary);
    color: var(--DarkModeFont);
}

.MainBody{
    height:100%;
    padding-bottom: 5rem;
}

/* INdex Page */
.MainTitle{
    height:15rem;
    margin: 0;
    position: relative;
}

.MainTitle button{
    float:right;
    margin:5px;
    padding-left:5px;
    padding-right:5px;
}

.LightMode .MainTitle button{
    background-color: var(--lightModeTertiary);
    color: var(--LightModeFont);
}

.DarkMode .MainTitle button{
    background-color: var(--DarkModeTertiary);
    color: var(--DarkModeFont);
}

.LightMode .MainTitle button:hover{
    background-color: var(--lightModeHighLight);
}

.DarkMode .MainTitle button:hover{
    background-color: var(--DarkModeHighLight);
}

.LightMode .MainTitle{
    background-color: var(--lightModeHighLight);
}

.DarkMode .MainTitle{
    background-color: var(--DarkModeHighLight);
}


.MainTitle #Title{
    position:absolute;
    bottom:0;
    margin-bottom: 10;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.UserIcon{
    height:50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    overflow:hidden;
    cursor: pointer;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.UserIcon:hover{
    filter: brightness(50%);
}

#UserSession{
    position:absolute;
    bottom:0;
    right:3rem;
}

#UserSession .UserIcon{
    height:100px;
    width:100px;
    border-radius: 50px;
    margin-right: -2rem;
    aspect-ratio: 1/1;
    object-fit: fill;
}

#UserSession #Username{
    font-size: xx-large;
}

#UserSession a{
    float :right;
    cursor: pointer;
}


.Announcements #WelcomeMessage{
    border-radius: 20px;
    margin:5px;
    padding-left:5%;
    padding-right:5%;
    padding-top:2rem;
    padding-bottom:2rem;
    max-height:30rem;
    overflow: hidden;
}

.Announcements{
    position:relative;
    border-radius: 20px;
    margin-top:5px;
    padding:5px;
}

.LightMode .Announcements{
    background-color: var(--LightModePrimary);
    border: var(--lightModeHighLight) solid 1px;
    box-sizing: border-box;
}

.DarkMode .Announcements{
    background-color: var(--DarkModeSecondary);
}

.LightMode .Announcements #WelcomeMessage{
    border: var(--lightModeHighLight) solid 1px;
    box-sizing: border-box;
}

.DarkMode .Announcements #WelcomeMessage{
    border: var(--DarkModeHighLight) solid 1px;
    background-color: var(--DarkModeTertiary);
    box-sizing: border-box;
}

.PostContainer{
    position:relative;
    border-radius: 20px;
    margin-top:5px;
    padding:5px;
}

.PostContainer .Tags{
    margin:5px;
    
}

.PostContainer .Tags a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.LightMode .PostContainer{
    background-color: var(--LightModePrimary);
    border: var(--lightModeHighLight) solid 1px;
    box-sizing: border-box;
}

.DarkMode .PostContainer{
    background-color: var(--DarkModeSecondary);
}

.DarkMode .PostContainer:hover{
    background-color: var(--DarkModeTertiary)
}

.LightMode .PostContainer{
    background-color: var(--LightModePrimary);
}

.DarkMode .PostContainer.SinglePost:hover{
    background-color: var(--DarkModeSecondary) !important;
}   

.LightMode .PostContainer.SinglePost:hover{
    background-color: var(--LightModePrimary) !important;
}   


.PostContainer .PostDate{
    margin-top: 15px;
    margin-right: 5px;
    float:right;
}

.PostContainer .PostText{
    border-radius: 20px;
    margin:5px;
    padding-left:5%;
    padding-right:5%;
    padding-top:2rem;
    padding-bottom:2rem;
    max-height:30rem;
    overflow: hidden;
}

.ExpansionButton{
    position: absolute;
    top: 32rem;

    left: calc(50% - 5rem);
    opacity: 80%;
}

.PostContainer .PostText.Expanded{
    max-Height:none;
}

.PostContainer .PostText img{
    max-width:100%;
}

.DarkMode .PostContainer .PostText blockquote{
    color: var(--DarkModeHighLight)
}

.LightMode .PostContainer .PostText blockquote{
    color: var(--lightModeHighLight)
}

.LightMode .PostContainer .PostText{
    border: var(--lightModeHighLight) solid 1px;
    box-sizing: border-box;
}

.DarkMode .PostContainer .PostText{
    border: var(--DarkModeHighLight) solid 1px;
    background-color: var(--DarkModeTertiary);
    box-sizing: border-box;
}


.PostContainer .UserDetails .PostUsername{
    font-size: x-large;
    cursor: pointer;
}

.LightMode .PostContainer .UserDetails .PostUsername:hover{
    color:var(--lightModeHighLight);
    text-decoration: underline;
}

.DarkMode .PostContainer .UserDetails .PostUsername:hover{
    color:var(--DarkModeHighLight);
    text-decoration: underline;
}


.PostContainer .UserDetails .Subtext{
    font-size: small;
}

.LightMode .Subtext{
    color: var(--lightModeHighLight);
}

.DarkMode .Subtext{
    color: var(--DarkModeHighLight);
}

.NoPosts{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DarkMode .NoPosts{
    border-top: 1px solid var(--DarkModeHighLight);
}

.LightMode .NoPosts{
    border-top: 1px solid var(--lightModeHighLight);
}

/* Main Nav */
.MainNav{
    margin-top: 1.2rem;
    width:100%;
    height:5rem;
    display: flex;
}


.MainNav h3{
    display: inline;
    padding: 1rem;
    flex:1;
    height:2rem;
    width:auto;
    min-width: 20rem;
    margin:5px;
    background-color: gray;
    cursor: pointer;
    border: gray 1px solid;
    border-radius: 5px;
    font-size:medium;
    text-align: center;
}    



.LightMode .MainNav h3{

}

.DarkMode .MainNav h3{
    background-color: var(--DarkModeTertiary);
}

.DarkMode .MainNav h3:hover{
    background-color: var(--DarkModeHighLight);
}

.LightMode .MainNav h3{
    background-color: var(--lightModeTertiary);
}

.LightMode .MainNav h3:hover{
    background-color: var(--lightModeHighLight);
}

.MainNav li:hover{
    background-color: dimgray;
    border: gray 1px solid;
}

/* Login Page */

.LoginContainer {
    position: absolute;
    top: 5rem;
    left: calc(50% - 10rem);
    width: 20rem;
    padding-bottom: 2rem;
    border: #919191 solid 1px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}


.LoginContainer h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.LoginContainer a{
    margin-left: 1rem;
}

.LoginContainer .SubContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

}

.LoginContainer .StayLogged {
    margin-left: 1rem;
    margin-top: 2rem;
}

.LoginContainer .SubContainer input {
    height: 2rem;
}

.LoginContainer .SubContainer input,
.LoginContainer .SubContainer label {
    display: block;
    width: 18rem;

    box-sizing: border-box;
}

.LoginContainer button {
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 18rem;
    height: 2rem;
    box-sizing: border-box;
}

.LoginContainer #ErrorMessage {
    color:red;
    margin-left:1rem;
    margin-right:1rem;
}

.LoginContainer p{
    margin-left:1rem;
    margin-right:1rem;
}

/* User hover menu */
.HoverProfile{
    padding:1rem;
    position:absolute;
    z-index: 3;
    width:50rem;
    height:30rem;
    margin-bottom: -30rem;
    border-radius: 25px;
    transition: display 2s ease-in-out;
}

.DarkMode .HoverProfile{
    background-color: var(--DarkModeSecondary);
    border: var(--DarkModeHighLight) 1px solid;
}

.LightMode .HoverProfile{
    background-color: var(--LightModePrimary);
    border: var(--lightModeHighLight) 1px solid;
}

.HoverProfile .ProfileTitle{
    display:inline;
    width:90%;
}

/* .HoverProfile .ExternalLinks{
    list-style: none;
    display:inline-block;
}

.HoverProfile .ExternalLinks li{    
    padding-right:1rem;
    cursor: pointer;
    display:inline-block;

}

.DarkMode .HoverProfile .ExternalLinks li:hover{ 
    color:var(--DarkModeHighLight)   
}

.LightMode .HoverProfile .ExternalLinks li:hover{ 
    color:var(--lightModeHighLight)   
} */


.HoverProfile .ProfileTitle .Alias{
    cursor: pointer;
    font-size: x-large;
}

.DarkMode .HoverProfile .ProfileTitle .Alias:hover{
    color:var(--DarkModeHighLight);
    text-decoration: underline;
}

.LightMode .HoverProfile .ProfileTitle .Alias:hover{
    color:var(--lightModeHighLight);
    text-decoration: underline;
}


.DarkMode .HoverProfile .ProfileTitle .Subtext{
    color:var(--DarkModeHighLight)
}

.LightMode .HoverProfile .ProfileTitle .Subtext{
    color:var(--lightModeHighLight)
}

.HoverProfile .bio{
    margin-top:1rem;
    width:90%;
    border-radius:5px;
    height:15rem;
    padding:5px;
    overflow:wrap;
}

.DarkMode .HoverProfile .bio{
    background-color: var(--DarkModeTertiary);
    border:var(--DarkModeHighLight) 1px solid;
}

.LightMode .HoverProfile .bio{
    background-color: var(--lightModeTertiary);
    border:var(--lightModeHighLight) 1px solid;
}

.EditUserDetails{
    Height:100%;
    padding: 1rem;
    padding-bottom: 10rem;

}

.DarkMode .EditUserDetails{
    background-color: var(--DarkModeSecondary);
}

.LightMode .EditUserDetails{
    margin-top:5px;
    background-color: var(--LightModePrimary);
    border:var(--lightModeHighLight) 1px solid;
    border-radius: 25px;
}

.EditUserDetails textarea{
    width:100%;
    height:5rem;
    resize: none;
}

.DarkMode .EditUserDetails button{
    background-color: var(--DarkModeHighLight);
    color:var(--DarkModeFont)
}

.LightMode .EditUserDetails button{
    background-color: var(--lightModeHighLight);
    color:var(--lightModeFont)
}

.LinkPreview{
    cursor: pointer;  
}

.EditUserDetails .LinkPreview{
    width:100%;
    min-height:5rem;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow:auto;
    
}

.EditUserDetails .LinkPreview .link{
    margin-top:5px;  
   
}

.DarkMode .EditUserDetails .LinkPreview{
    background-color: var(--DarkModeTertiary);
    border: 1px solid var(--DarkModeHighLight);
}

.LightMode .EditUserDetails .LinkPreview{
    background-color: var(--lightModeTertiary);
    border: 1px solid var(--lightModeHighLight);
}

.EditUserDetails .NewIcon{
    height:80px;
    width: 80px;
    border-radius: 40px;
    object-fit: cover;
}

.DarkMode .UserSettings{
    background-color: var(--DarkModeSecondary);
}

.LightMode .UserSettings{
    margin-top:5px;
    background-color: var(--LightModePrimary);
    border:var(--lightModeHighLight) 1px solid;
    border-radius: 25px;
}

.UserSettings{
    Height:100%;
    padding: 1rem;
    
}

.UserSettings #Alias{
    text-align: center;
    margin: 0;
}

.UserSettings #UsernameDisplay{
    text-align: center;
    font-size:medium;
}

.UserSettings ul{
    list-style-type: none;
}

.UserSettings li{
    margin:0;
    vertical-align: middle;
    height:2rem;
    padding: 1rem;
}

.UserSettings li button{
    float:right;
    margin-top: -1rem;
}

.DarkMode button{
    background-color: var(--DarkModeTertiary);
    color:var(--DarkModeFont)
}

.LightMode .UserSettings li button{
    background-color: var(--lightModeSecondary);
}

.UserSettings li.link.logout{
    color:rgb(245, 120, 120);
}

.UserSettings li.link{
    cursor: pointer;
}

.DarkMode .UserSettings li.link:hover{
    background-color: var(--DarkModeTertiary);
}

.UserSettings .UserIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:150px;
    width:150px;

    border-radius: 50%;

    aspect-ratio: 1/1;
    object-fit: fill;
}

.PageBackButton{
    cursor: pointer;
    font-size: large;
    padding-bottom:2rem;
}

.PageBackButton span{
    margin-left: 20px;
    margin-top: 5px;

}

.PageBackButton button{
    margin-right: 20px;
    margin-top: 5px;
    float:right;

}

.DarkMode .PageBackButton:hover{
    color: var(--DarkModeHighLight);
    text-shadow:0px 0px 2px var(--DarkModeHighLight);
}

.LightMode .PageBackButton:hover{
    color: var(--lightModeHighLight);
    text-shadow:0px 0px 2px var(--lightModeHighLight);
}

#TestLink{
    cursor: pointer;
}

.LinkPreview .remove:hover{
    color:rgb(255, 143, 143);
    text-shadow:0px 0px 2px  rgb(255, 143, 143);
}

.UploadImage{
    position: absolute;
    padding:1rem;
    z-index: 3;
    width:40rem;
    height:40rem;
    border-radius: 1rem;

}

.DarkMode .UploadImage{
    background-color: var(--DarkModeSecondary);
    border: 1px solid var(--DarkModeHighLight);
}

.LightMode .UploadImage{
    background-color: var(--LightModePrimary);
    border: 1px solid var(--lightModeHighLight);
}

.UploadImage .Images{
    width:100%;
    height:25rem;
    overflow-y: scroll;
}

.UploadImage .Images #UploadedImages{
    list-style: none;
}

.UploadImage .Images #UploadedImages img{
    margin-top: 4px;
    margin-left: 4px;
}
.DarkMode .UploadImage .Images #UploadedImages li{
    margin:0;
}

.DarkMode .UploadImage .Images #UploadedImages li{
    border-top:1px solid var(--DarkModeHighLight)
}

.LightMode .UploadImage .Images #UploadedImages li{
    border-top:1px solid var(--lightModeHighLight)
}

.UploadImage .Images #UploadedImages button{
    margin-right: 1rem;
    margin-top: 25px;
    float:right
}

.DarkMode .UploadImage .Images{
    background-color: var(--DarkModeTertiary);
}

.LightMode .UploadImage .Images{
    background-color: var(--lightModeTertiary);
}

.UploadImage #Title{
    width:50%;
    float:left;
}

.UploadImage #Close{
    width:10%;
    float: right;
    cursor: pointer;
    text-align: right;
}

.UploadImage #Close:hover{
    color:rgb(252, 135, 135);
}

.CreateInviteLink{
    padding-bottom: 1rem;
    width:100%;
    height:3rem;
}

.CreateInviteLink input{
    width:80%;
    height:3rem;
}

.CreateInviteLink button{
    margin:0 !important;
}

.UserSettings li:has(.CreateInviteLink){
    height:5rem;
} 

.UserDetails a{
    text-decoration: underline;
    cursor: pointer;
}

.DarkMode .UserPageDetails{
    background-color: var(--DarkModeSecondary);
}

.LightMode .UserPageDetails{
    margin-top:5px;
    background-color: var(--LightModePrimary);
    border:var(--lightModeHighLight) 1px solid;

}
.UserPageDetails{
    margin-top: 1rem;;
    border-radius: 20px;
    height:200px;
}

.UserPageDetails .columns{
    height:150px;
}

.UserPageDetails #Alias{
    margin:0 !important;
}

.UserPageDetails .UserIcon{
    padding:15px;
    width:102px !important;
    height:102px !important;
    border-radius: 100% !important;
    aspect-ratio: 1/1;
    object-fit: fill;
    
}

.UserPageDetails .LinkPreview{
    height:4rem !important;
    margin-left: 2rem;
    margin-right: 2rem;

}

.UserPageDetails #WhereTheEditButtonGoes button{
    margin-top:1rem;
    margin-right: 1rem;
    float:right;
    
}

#EditUserPage{
    position:absolute;
    z-index: 3;
    border-radius: 15px;
    padding:2rem;
}

#EditUserPage h4{
    max-width:40%;
    display: inline;
}

#EditUserPage .close{
    float: right;
    text-align: right;
    cursor: pointer;
}

#EditUserPage .close:hover{
    color:rgb(255, 143, 143)
}

.DarkMode #EditUserPage{
    background-color: var(--DarkModeTertiary);
    
}

.LightMode #EditUserPage{
    background-color: var(--lightModeTertiary);
}

.SideNav{
    position:sticky;
    top:0;
    float: left;
    width:fit-content;
    padding-top: 1rem;
    padding-left: 1rem;
}

.SideNav ul{
    width:20rem;
}

.SideNav li{

    font-size: large;
    list-style: none;
    padding:0.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
}

.SideNav #logout{
    color:rgb(255, 147, 147);
}

.DarkMode .SideNav li{
    background-color: var(--DarkModeSecondary);
}

.LightMode .SideNav li{
    background-color: var(--lightModeSecondary);
}

.DarkMode .SideNav li:hover{
    background-color: var(--DarkModeTertiary);
    font-weight: bolder;
    
}

.LightMode .SideNav li:hover{
    background-color: var(--lightModeTertiary);
    font-weight: bolder;
}

footer{
    align-items: center;
}

footer p{
    margin: auto;
    text-align: center;
    color:gray;
}

.TagItem{
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width:40rem;
    cursor: pointer;
}

.DarkMode .TagItem{
    background-color: var(--DarkModeSecondary);
    border:1px solid var(--DarkModeHighLight);
}

.LightMode .TagItem{
    background-color: var(--LightModePrimary);
    border:1px solid var(--lightModeHighLight);
}

.DarkMode .TagItem:hover{
    background-color: var(--DarkModeTertiary);
    outline:1px solid var(--DarkModeHighLight);
}

.LightMode .TagItem{
    outline:1px solid var(--lightModeHighLight);
}


.TagItem .TagName{
    font-size: larger;
}

.TagItem span{
    display: flex;
    flex-direction: column;
}

#TagFeed{
    width:42rem;
}

.TagSearch{
    margin-top: 1rem;
    width:42rem;
}

.TagSearch #TagSearch{
    width:30rem;
}

.TagSearch button{
    width:11.5rem;
}

.SearchSelection{
    display: flex;
}

.SearchSelection h2{
    width:auto;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    margin-bottom:0;
    padding-bottom: 5px;
    border-radius: 20px 20px 0 0;
}

.DarkMode .SearchSelection h2:hover{
    background-color: var(--DarkModeTertiary);
    outline: 1px solid var(--DarkModeHighLight);
}

.DarkMode .SearchSelection h2.selected{
    background-color: var(--DarkModeTertiary);
    outline: 1px solid var(--DarkModeHighLight);
}

.LightMode .SearchSelection h2:hover{
    outline: 1px solid var(--lightModeHighLight);
}

.LightMode .SearchSelection h2.selected{
    outline: 1px solid var(--lightModeHighLight);
}

.DarkMode .UserResult{
    background-color: var(--DarkModeSecondary);
    outline: 1px solid var(--DarkModeHighLight);
}

.LightMode .UserResult{
    outline: 1px solid var(--lightModeHighLight);
}

.DarkMode .UserResult:hover{
    background-color: var(--DarkModeTertiary);
}

.UserResult{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
    display:flex;
}

.UserResult img{
    height:100px;
    width:100px;
    border-radius: 50px;
    padding-right: 1rem;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.UserResult .UserDetails{
    display: flex;
    flex-direction: column;
}

.UserResult .UserDetails .Alias{
    font-size: x-large !important;
    height:fit-content;
    margin-bottom: 0;
}

.UserResult .UserDetails .Username{
    font-size: medium !important;
    color:gray;
    height:fit-content; 
}

.PostSearch input{
    width:65%;
}

.PostSearch button{
    width:30%;
}