:root {
    --DarkModePrimary:#121212;
    --DarkModeSecondary:#282828;
    --DarkModeTertiary:#3f3f3f;
    --DarkModeFont:white;
    --DarkModeHighLight:#b99eed;

    --LightModePrimary:white;
    --lightModeSecondary:#e4e5f1;
    --lightModeTertiary:#a09d9d;
    --LightModeFont:black;
    --lightModeHighLight:#3598fc;
}

body{
    height:100%;
    margin: 0;
}

.DarkMode hr{
    border: 1px solid var(--DarkModeHighLight);
}

.LightMode hr{
    border: 1px solid var(--lightModeHighLight)
}

body.LightMode{
    background-color: var(--LightModePrimary);
    color: var(--lightModeFont)
}

body.DarkMode{
    background-color: var(--DarkModePrimary);
    color: var(--DarkModeFont);
}

.MainBody{
   
    height:100%;
    padding-bottom: 5rem;
}

/* INdex Page */
.MainTitle{
    height:15rem;
    margin: 0;
    position: relative;
}

.MainTitle button{
    float:right;
    margin:5px;
    padding-left:5px;
    padding-right:5px;
}

.LightMode .MainTitle button{
    background-color: var(--lightModeTertiary);
    color: var(--LightModeFont);
}

.DarkMode .MainTitle button{
    background-color: var(--DarkModeTertiary);
    color: var(--DarkModeFont);
}

.LightMode .MainTitle button:hover{
    background-color: var(--lightModeHighLight);
}

.DarkMode .MainTitle button:hover{
    background-color: var(--DarkModeHighLight);
}

.LightMode .MainTitle{
    background-color: var(--lightModeHighLight);
}

.DarkMode .MainTitle{
    background-color: var(--DarkModeHighLight);
}


.MainTitle #Title{
    position:absolute;
    bottom:0;
    margin-bottom: 10;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;


}

.UserIcon{

    height:50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
}

#UserSession{
    position:absolute;
    bottom:0;
    right:3rem;
}

#UserSession #Username{
    font-size: xx-large;
}

#UserSession a{
    float :right;
    cursor: pointer;
}

.PostContainer{
    position:relative;
    border-radius: 20px;
    margin-top:5px;
    padding:5px;
}

.LightMode .PostContainer{
    background-color: var(--LightModePrimary);
    border: var(--lightModeHighLight) solid 1px;
    box-sizing: border-box;
}

.DarkMode .PostContainer{
    background-color: var(--DarkModeSecondary);
}

.PostContainer .PostDate{
    margin-top: 15px;
    margin-right: 5px;
    float:right;
}

.PostContainer .PostText{
    border-radius: 20px;
    margin:5px;
    padding:5px;
}

.DarkMode .PostContainer .PostText blockquote{
    color: var(--DarkModeHighLight)
}

.LightMode .PostContainer .PostText blockquote{
    color: var(--lightModeHighLight)
}

.LightMode .PostContainer .PostText{
    border: var(--lightModeHighLight) solid 1px;
    box-sizing: border-box;
}

.DarkMode .PostContainer .PostText{
    border: var(--DarkModeHighLight) solid 1px;
    background-color: var(--DarkModeTertiary);
    box-sizing: border-box;
}


.PostContainer .UserDetails .PostUsername{
    font-size: x-large;
    cursor: pointer;
}

.LightMode .PostContainer .UserDetails .PostUsername:hover{
    color:var(--lightModeHighLight);
    text-decoration: underline;
}

.DarkMode .PostContainer .UserDetails .PostUsername:hover{
    color:var(--DarkModeHighLight);
    text-decoration: underline;
}


.PostContainer .UserDetails .Subtext{
    font-size: small;
}

.LightMode .Subtext{
    color: var(--lightModeHighLight);
}

.DarkMode .Subtext{
    color: var(--DarkModeHighLight);
}

.NoPosts{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DarkMode .NoPosts{
    border-top: 1px solid var(--DarkModeHighLight);
}

.LightMode .NoPosts{
    border-top: 1px solid var(--lightModeHighLight);
}

/* Main Nav */
.MainNav{
    margin-top: 1.2rem;
    width:100%;
    height:5rem;
    display: flex;
}


.MainNav h3{
    display: inline;
    padding: 1rem;
    flex:1;
    height:2rem;
    width:auto;
    min-width: 20rem;
    margin:5px;
    background-color: gray;
    cursor: pointer;
    border: gray 1px solid;
    border-radius: 5px;
    font-size:medium;
    text-align: center;
}    



.LightMode .MainNav h3{

}

.DarkMode .MainNav h3{
    background-color: var(--DarkModeTertiary);
}

.DarkMode .MainNav h3:hover{
    background-color: var(--DarkModeHighLight);
}

.LightMode .MainNav h3{
    background-color: var(--lightModeTertiary);
}

.LightMode .MainNav h3:hover{
    background-color: var(--lightModeHighLight);
}

.MainNav li:hover{
    background-color: dimgray;
    border: gray 1px solid;
}

/* Login Page */

.LoginContainer {
    position: absolute;
    top: 5rem;
    left: calc(50% - 10rem);
    width: 20rem;
    padding-bottom: 2rem;
    border: #919191 solid 1px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}


.LoginContainer h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.LoginContainer .SubContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

}

.LoginContainer .StayLogged {
    margin-left: 1rem;
    margin-top: 2rem;
}

.LoginContainer .SubContainer input {
    height: 2rem;
}

.LoginContainer .SubContainer input,
.LoginContainer .SubContainer label {
    display: block;
    width: 18rem;

    box-sizing: border-box;
}

.LoginContainer button {
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 18rem;
    height: 2rem;
    box-sizing: border-box;
}

.LoginContainer #ErrorMessage {
    color:red;
    margin-left:1rem;
    margin-right:1rem;
}

/* User hover menu */
.HoverProfile{
    padding:1rem;
    position:absolute;
    z-index: 3;
    width:50rem;
    height:30rem;
    margin-bottom: -30rem;
    border-radius: 25px;
    transition: display 2s ease-in-out;
}

.DarkMode .HoverProfile{
    background-color: var(--DarkModeSecondary);
    border: var(--DarkModeHighLight) 1px solid;
}

.LightMode .HoverProfile{
    background-color: var(--LightModePrimary);
    border: var(--lightModeHighLight) 1px solid;
}

.HoverProfile .ProfileTitle{
    display:inline;
    width:90%;
}

/* .HoverProfile .ExternalLinks{
    list-style: none;
    display:inline-block;
}

.HoverProfile .ExternalLinks li{    
    padding-right:1rem;
    cursor: pointer;
    display:inline-block;

}

.DarkMode .HoverProfile .ExternalLinks li:hover{ 
    color:var(--DarkModeHighLight)   
}

.LightMode .HoverProfile .ExternalLinks li:hover{ 
    color:var(--lightModeHighLight)   
} */


.HoverProfile .ProfileTitle .Alias{
    font-size: x-large;
}

.DarkMode .HoverProfile .ProfileTitle .Subtext{
    color:var(--DarkModeHighLight)
}

.LightMode .HoverProfile .ProfileTitle .Subtext{
    color:var(--lightModeHighLight)
}

.HoverProfile .bio{
    margin-top:1rem;
    width:90%;
    border-radius:5px;
    height:15rem;
    padding:5px;
    overflow:scroll
}

.DarkMode .HoverProfile .bio{
    background-color: var(--DarkModeTertiary);
    border:var(--DarkModeHighLight) 1px solid;
}

.LightMode .HoverProfile .bio{
    background-color: var(--lightModeTertiary);
    border:var(--lightModeHighLight) 1px solid;
}

.EditUserDetails{
    Height:100%;
    padding: 1rem;
    padding-bottom: 10rem;

}

.DarkMode .EditUserDetails{
    background-color: var(--DarkModeSecondary);
}

.LightMode .EditUserDetails{
    margin-top:5px;
    background-color: var(--LightModePrimary);
    border:var(--lightModeHighLight) 1px solid;
    border-radius: 25px;
}

.EditUserDetails textarea{
    width:100%;
    height:5rem;
    resize: none;
}

.DarkMode .EditUserDetails button{
    background-color: var(--DarkModeHighLight);
    color:var(--DarkModeFont)
}

.LightMode .EditUserDetails button{
    background-color: var(--lightModeHighLight);
    color:var(--lightModeFont)
}

.LinkPreview{
    cursor: pointer;  
}

.EditUserDetails .LinkPreview{
    width:100%;
    min-height:5rem;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow:auto;
    
}

.EditUserDetails .LinkPreview .link{
    margin-top:5px;  
   
}

.DarkMode .EditUserDetails .LinkPreview{
    background-color: var(--DarkModeTertiary);
    border: 1px solid var(--DarkModeHighLight);
}

.LightMode .EditUserDetails .LinkPreview{
    background-color: var(--lightModeTertiary);
    border: 1px solid var(--lightModeHighLight);
}

.EditUserDetails .NewIcon{
    height:80px;
    width: 80px;
    border-radius: 40px;
    object-fit: cover;
}

.DarkMode .UserSettings{
    background-color: var(--DarkModeSecondary);
}

.LightMode .UserSettings{
    margin-top:5px;
    background-color: var(--LightModePrimary);
    border:var(--lightModeHighLight) 1px solid;
    border-radius: 25px;
}

.UserSettings{
    Height:100%;
    padding: 1rem;
    
}

.UserSettings #Alias{
    text-align: center;
    margin: 0;
}

.UserSettings #UsernameDisplay{
    text-align: center;
    font-size:medium;
}

.UserSettings ul{
    list-style-type: none;
}

.UserSettings li{
    margin:0;
    vertical-align: middle;
    height:2rem;
    padding: 1rem;
}

.UserSettings li button{
    float:right;
    margin-top: -1rem;
}

.DarkMode button{
    background-color: var(--DarkModeTertiary);
    color:var(--DarkModeFont)
}

.LightMode .UserSettings li button{
    background-color: var(--lightModeSecondary);
}

.UserSettings li.link.logout{
    color:rgb(245, 120, 120);
}

.UserSettings li.link{
    cursor: pointer;
}

.DarkMode .UserSettings li.link:hover{
    background-color: var(--DarkModeTertiary);
}

.UserSettings .UserIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:150px;
    width:150px;

    border-radius: 50%;
    object-fit: cover;
}

.UserSettings .backButton{
    cursor: pointer;
}

.UserSettings .backButton:hover{
    font-weight: bold;
}
