body{
    background-color: darkgray;
    height:100%;
    margin: 0;
}

.MainBody{
   
    height:100%;
}

/* New Post Page */

#Editor{
    width:90%;
    margin-left: 5%;
    height:50rem;
    overflow-y: scroll;
    resize: none;

}

#MarkdownViewer{
    width:95%;
    margin-left: 0.25%;
    background-color:white;
    padding:5px;
    height:50rem;
    overflow-y: scroll;
    
}

/* INdex Page */
.MainTitle{
    height:15rem;
    background-color: aliceblue;
    margin: 0;
    position: relative;
}

.MainTitle #Title{
    position:absolute;
    bottom:0;
    margin-bottom: 10;
}

.UserIcon{
    height:50px;
    border-radius: 25px;
}

#UserSession{
    position:absolute;
    bottom:0;
    right:3rem;
}

#UserSession #Username{
    font-size: xx-large;
}

#UserSession a{
    float :right;
    cursor: pointer;
}

.PostContainer{
    background-color: lightgray;
    border-radius: 20px;
    margin-top:5px;
    padding:5px;
}

.PostContainer .PostDate{
    margin-top: 15px;
    margin-right: 5px;
    float:right;
}

.PostContainer .PostText{
    border:1px solid lightblue;
    background-color:white;
    border-radius: 20px;
    margin:5px;
    padding:5px;
}

.PostContainer .UserDetails .Username{
    font-size: x-large;
    cursor: pointer;
}

.PostContainer .UserDetails .Username:hover{
    color:blue;
}


.PostContainer .UserDetails .Subtext{
    font-size: small;
}



/* Main Nav */
.MainNav{
    background-color: dimgrey;
    width:100%;
    height:5rem;
}


.MainNav ul{
    height:5rem;
    display: inline;
    list-style: none;
}

.MainNav li{
    display: inline;
    padding: 1rem;
    min-width: 20rem;
    margin:5px;
    background-color: gray;
    cursor: pointer;
    border: gray 1px solid;
    border-radius: 5px;
}    

.MainNav li:hover{
    background-color: dimgray;
    border: gray 1px solid;
}

/* Login Page */

.LoginContainer {
    position: absolute;
    top: 5rem;
    left: calc(50% - 10rem);
    width: 20rem;
    padding-bottom: 2rem;
    border: #919191 solid 1px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}


.LoginContainer h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.LoginContainer .SubContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

}

.LoginContainer .StayLogged {
    margin-left: 1rem;
    margin-top: 2rem;
}

.LoginContainer .SubContainer input {
    height: 2rem;
}

.LoginContainer .SubContainer input,
.LoginContainer .SubContainer label {
    display: block;
    width: 18rem;

    box-sizing: border-box;
}

.LoginContainer button {
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 18rem;
    height: 2rem;
    box-sizing: border-box;
}

.LoginContainer #ErrorMessage {
    color:red;
    margin-left:1rem;
    margin-right:1rem;
}